{% extends 'auth/auth.html' %}


{% block header %}
    <h1>{% block title %}Регистрация{% endblock %}</h1>
{% endblock %}

{% block form %}
    <form method="post" autocomplete="off">
        <label for="username">Имя</label>
        <br/>
        <input name="username" id="username"  autocomplete="new-password" required>
        <br/>
        <br/>
        <label for="password">Пароль</label>
        <br/>
        <input type="password" name="password" id="password"  autocomplete="new-password" required>
        <br/>
        <br/>
        <input type="submit" value="Зарегистрироваться">
    </form>
{% endblock %}

{% block alt %}Уже зарегистрированы? <a href="{{ url_for("auth.login") }}">Войти</a>{% endblock %}
